<div class="form-group container">

    <div class="row pt-4 pl-3">
      <div class="col-sm-1">
        <label><strong>{{title}}</strong></label>
      </div>
      <div class="col-sm-4">       
        <select [(ngModel)]="selectedCity" class="form-control">
          <option>--Select--</option>
          <option *ngFor="let city of LstCities">{{city}}</option>
        </select>
      </div>      
    </div>
    
    <div class="row">
      
      <div class="col-sm-12" *ngIf = "selectedCity == 'Lucknow'">
        <table>
          <thead>
            <tr>
            <th>Outlets</th>
            <th>SpecialFor</th>
            <th>Open Timings</th>
            <th>Address</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let opt of dataLucknow">
            <td>{{opt.RestaurantName}}</td>
            <td>{{opt.SpecialFor}}</td>
            <td>{{opt.Timings}}</td>
            <td>{{opt.Address}}</td>  
          </tr>          
          </tbody>
        </table>
      </div>


      <div class="col-sm-12" *ngIf = "selectedCity == 'Noida'">
        <table>
          <thead>
            <tr>
\            <th>RestaurantName</th>
            <th>SpecialFor</th>
            <th>CostForTwo</th>
            <th>Address</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let opt of dataNoida">
            <td>{{opt.RestaurantName}}</td>
            <td>{{opt.SpecialFor}}</td>
            <td>{{opt.CostForTwo}}</td>
            <td>{{opt.Address}}</td>  
          </tr>          
          </tbody>
        </table>
      </div>



      <div class="col-sm-12" *ngIf = "selectedCity == 'Delhi'">
        <table>
          <thead>
            <tr>
            <th>RestaurantName</th>
            <th>CostForTwo</th>
            <th>Timings</th>
            <th>Address</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let opt of dataDelhi">
            <td>{{opt.RestaurantName}}</td>
            <td>{{opt.CostForTwo}}</td>
            <td>{{opt.Timings}}</td>
            <td>{{opt.Address}}</td>  
          </tr>          
          </tbody>
        </table>
      </div>
      
    </div>
  
    
  
  </div>
  